In [1]:
import pandas as pd
import numpy as np

In [3]:
## Data Quality checks

In [5]:
users_data=pd.read_csv('USER_TAKEHOME.csv')
transaction_data=pd.read_csv('TRANSACTION_TAKEHOME.csv')
product_data=pd.read_csv('PRODUCTS_TAKEHOME.csv')

In [7]:
users_data.head()

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female

In [9]:
product_data.head()

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
0,Health & Wellness,Sexual Health,Conductivity Gels & Lotions,NaN,NaN,NaN,7.964944e+11
1,Snacks,Puffed Snacks,Cheese Curls & Puffs,NaN,NaN,NaN,2.327801e+10
2,Health & Wellness,Hair Care,Hair Care Accessories,NaN,PLACEHOLDER MANUFACTURER,ELECSOP,4.618178e+11
3,Health & Wellness,Oral Care,Toothpaste,NaN,COLGATE-PALMOLIVE,COLGATE,3.500047e+10
4,Health & Wellness,Medicines & Treatments,Essential Oils,NaN,MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...,MAPLE HOLISTICS,8.068109e+11

In [11]:
transaction_data.head()

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,
1,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,zero,1.49
2,00017e0a-7851-42fb-bfab-0baa96e23586,2024-08-18,2024-08-19 15:38:56.813 Z,WALMART,60842f207ac8b7729e472020,7.874223e+10,1.00,
3,000239aa-3478-453d-801e-66a82e39c8af,2024-06-18,2024-06-19 11:03:37.468 Z,FOOD LION,63fcd7cea4f8442c3386b589,7.833997e+11,zero,3.49
4,00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1,2024-07-04,2024-07-05 15:56:43.549 Z,RANDALLS,6193231ae9b3d75037b0f928,4.790050e+10,1.00,

In [13]:
product_data.shape

(845552, 7)

In [15]:
# Count total null values in the 'manufacturer' column
total_null_values = product_data['MANUFACTURER'].isnull().sum()
print(f"Total null values in 'manufacturer': {total_null_values}")

Total null values in 'manufacturer': 226474

In [17]:
# Store datasets in a list
data = [users_data, transaction_data, product_data]
dataset_names = ["users_data", "transaction_data", "product_data"]

In [19]:
## 1. Quality data checks

In [21]:
def missing_values(data1, data2):
    for df, df1 in zip(data1, data2):
        print(f"Missing values in {df1}:\n")
        print(df.isnull().sum())

In [23]:
missing_values(data,dataset_names)

Missing values in users_data:

ID                  0
CREATED_DATE        0
BIRTH_DATE       3675
STATE            4812
LANGUAGE        30508
GENDER           5892
dtype: int64
Missing values in transaction_data:

RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64
Missing values in product_data:

CATEGORY_1         111
CATEGORY_2        1424
CATEGORY_3       60566
CATEGORY_4      778093
MANUFACTURER    226474
BRAND           226472
BARCODE           4025
dtype: int64

In [25]:
## As we can see there are many missing values present in various columns of these different datasets we want to analyze. It is very important
## to understand if there are any NULLS/ Duplicate values we are dealing with to understand the data better

In [27]:
#' We can always deal with missing values with different statistics method I always try to go with 3 approaches:
# 1. Can we replace the missing values with mean/median if we are dealing with numerical columns in our data
# 2. If dealing with a categorical column we can replace the missing value with MODE of that column
# 3. If more than 70% of the column is NULL we can try to remove that column as it will not have much significance in our analysis. 
#For example in the 3 csv files I find column CATEGORY_4 where we find approx 92% values as NULL (778093/845552) so this column does not
# hold much significance to our analysis

In [29]:
## Checking for duplicates##
def check_duplicates(data1, data2):
    for df, name in zip(data1,data2):
        duplicate_count = df.duplicated().sum()
        print(f"{name} has {duplicate_count} duplicate rows.\n")

In [31]:
check_duplicates(data,dataset_names)

users_data has 0 duplicate rows.

transaction_data has 171 duplicate rows.

product_data has 215 duplicate rows.

In [32]:
## Check datatypes for all columns
def check_data_types(data1, data2):
    for df, name in zip(data1, data2):
        print(f"Data types in {name}:\n")
        print(df.dtypes)

In [33]:
check_data_types(data,dataset_names)

Data types in users_data:

ID              object
CREATED_DATE    object
BIRTH_DATE      object
STATE           object
LANGUAGE        object
GENDER          object
dtype: object
Data types in transaction_data:

RECEIPT_ID         object
PURCHASE_DATE      object
SCAN_DATE          object
STORE_NAME         object
USER_ID            object
BARCODE           float64
FINAL_QUANTITY     object
FINAL_SALE         object
dtype: object
Data types in product_data:

CATEGORY_1       object
CATEGORY_2       object
CATEGORY_3       object
CATEGORY_4       object
MANUFACTURER     object
BRAND            object
BARCODE         float64
dtype: object

In [37]:
## Looking at datatypes, In transaction_data columns like FINAL_QUANTITY AND FINAL_SALE should be converted into integer from object

In [39]:
# Changing datatype
# 1. Handle missing values in FINAL_SALE
# Replace NaN or None with 0 (assumption)
transaction_data['FINAL_SALE'] = transaction_data['FINAL_SALE'].replace(' ', np.nan)

In [41]:
transaction_data['FINAL_SALE'] = pd.to_numeric(transaction_data['FINAL_SALE'], errors='coerce')

In [43]:
transaction_data['FINAL_SALE'] = transaction_data['FINAL_SALE'].fillna(0)

In [45]:
# Usinf astype function to convert to integer
transaction_data['FINAL_SALE'] = transaction_data['FINAL_SALE'].astype(int)

In [47]:
# Column Final_Price converted from object to integer we can do similar for FINAL_QUANTITY Column as well
check_data_types(data,dataset_names)

Data types in users_data:

ID              object
CREATED_DATE    object
BIRTH_DATE      object
STATE           object
LANGUAGE        object
GENDER          object
dtype: object
Data types in transaction_data:

RECEIPT_ID         object
PURCHASE_DATE      object
SCAN_DATE          object
STORE_NAME         object
USER_ID            object
BARCODE           float64
FINAL_QUANTITY     object
FINAL_SALE          int64
dtype: object
Data types in product_data:

CATEGORY_1       object
CATEGORY_2       object
CATEGORY_3       object
CATEGORY_4       object
MANUFACTURER     object
BRAND            object
BARCODE         float64
dtype: object

In [49]:
# 5. Validate joins between datasets
# Check if all barcodes in Transactions exist in Products
print("\nTransactions with invalid barcodes:")
print(transaction_data[~transaction_data['BARCODE'].isin(product_data['BARCODE'])])

Transactions with invalid barcodes:
                                 RECEIPT_ID PURCHASE_DATE  \
2      00017e0a-7851-42fb-bfab-0baa96e23586    2024-08-18
3      000239aa-3478-453d-801e-66a82e39c8af    2024-06-18
4      00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1    2024-07-04
6      000550b2-1480-4c07-950f-ff601f242152    2024-07-06
8      000e1d35-15e5-46c6-b6b3-33653ed3d27e    2024-08-13
...                                     ...           ...
49990  441b9ecd-38ed-4960-9780-eb44a464284a    2024-06-26
49991  840c30ae-bc0a-40a4-a47d-052ed0af2da2    2024-08-18
49992  68f74fb3-ccf2-41f3-896a-799eb9a80680    2024-08-13
49995  b5cd61a9-8033-4913-a5c4-fb3f65e3a321    2024-08-21
49998  42475141-bef4-4df2-aa37-72577e2512bb    2024-06-18

                       SCAN_DATE        STORE_NAME                   USER_ID  \
2      2024-08-19 15:38:56.813 Z           WALMART  60842f207ac8b7729e472020
3      2024-06-19 11:03:37.468 Z         FOOD LION  63fcd7cea4f8442c3386b589
4      2024-07-05 15:56:43.549 Z          RANDALLS  6193231ae9b3d75037b0f928
6      2024-07-06 19:27:48.586 Z           WALMART  5f850bc9cf9431165f3ac175
8      2024-08-13 18:21:07.931 Z           WALMART  61a6d926f998e47aad33db66
...                          ...               ...                       ...
49990  2024-07-02 09:37:07.656 Z  FRY'S FOOD STORE  6251c788e3d6762c55855c1d
49991  2024-08-18 14:44:02.530 Z            COSTCO  65b322787050d0a6206b3479
49992  2024-08-19 11:06:59.023 Z   PEPPERIDGE FARM  64f4aee2b84ba41db3fb246a
49995  2024-08-31 14:13:08.634 Z            TARGET  6154bcf098f885648de2f299
49998  2024-06-18 19:57:32.211 Z     MARKET BASKET  6169912fac47744405af62b7

            BARCODE FINAL_QUANTITY  FINAL_SALE
2      7.874223e+10           1.00           0
3      7.833997e+11           zero           3
4      4.790050e+10           1.00           0
6      4.920091e+10           1.00           0
8      5.200001e+10           1.00           0
...             ...            ...         ...
49990  7.225002e+10           1.00           2
49991  1.407435e+07           1.00          11
49992  1.410007e+10           1.00           2
49995  8.523911e+10           2.00           1
49998  4.180050e+10           1.00           3

[19408 rows x 8 columns]

In [51]:
# Check if all user IDs in Transactions exist in Users
print("\nTransactions with invalid user IDs:")
print(transaction_data[~transaction_data['USER_ID'].isin(users_data['ID'])])

Transactions with invalid user IDs:
                                 RECEIPT_ID PURCHASE_DATE  \
0      0000d256-4041-4a3e-adc4-5623fb6e0c99    2024-08-21
1      0001455d-7a92-4a7b-a1d2-c747af1c8fd3    2024-07-20
2      00017e0a-7851-42fb-bfab-0baa96e23586    2024-08-18
3      000239aa-3478-453d-801e-66a82e39c8af    2024-06-18
4      00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1    2024-07-04
...                                     ...           ...
49995  b5cd61a9-8033-4913-a5c4-fb3f65e3a321    2024-08-21
49996  e1b2f634-c9ad-4152-b662-4b22efc25862    2024-08-11
49997  b07ef8dd-e444-40a2-819b-f74a3e5f1ae7    2024-07-11
49998  42475141-bef4-4df2-aa37-72577e2512bb    2024-06-18
49999  3a179c4e-46f2-4126-b3d2-3514afc23a3e    2024-08-07

                       SCAN_DATE     STORE_NAME                   USER_ID  \
0      2024-08-21 14:19:06.539 Z        WALMART  63b73a7f3d310dceeabd4758
1      2024-07-20 09:50:24.206 Z           ALDI  62c08877baa38d1a1f6c211a
2      2024-08-19 15:38:56.813 Z        WALMART  60842f207ac8b7729e472020
3      2024-06-19 11:03:37.468 Z      FOOD LION  63fcd7cea4f8442c3386b589
4      2024-07-05 15:56:43.549 Z       RANDALLS  6193231ae9b3d75037b0f928
...                          ...            ...                       ...
49995  2024-08-31 14:13:08.634 Z         TARGET  6154bcf098f885648de2f299
49996  2024-08-11 18:15:56.736 Z    STOP & SHOP  60aa809f188b926b2244c974
49997  2024-07-11 08:03:25.816 Z        WALMART  60bd26e83dc3b13a15c5f4e7
49998  2024-06-18 19:57:32.211 Z  MARKET BASKET  6169912fac47744405af62b7
49999  2024-08-07 15:30:07.911 Z        WALMART  64e94d64ca929250373ef6e1

            BARCODE FINAL_QUANTITY  FINAL_SALE
0      1.530001e+10           1.00           0
1               NaN           zero           1
2      7.874223e+10           1.00           0
3      7.833997e+11           zero           3
4      4.790050e+10           1.00           0
...             ...            ...         ...
49995  8.523911e+10           2.00           1
49996  4.610040e+10           1.00           2
49997  6.466300e+11           1.00          20
49998  4.180050e+10           1.00           3
49999  3.076607e+11           1.00           5

[49738 rows x 8 columns]

In [53]:
# The above data quality checks I have done to validate joins between the 3 tables to understand for example to make sure 
#all transactions are associated with valid, existing users.